:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.container {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: #000000;
  font-family: Suisse Int\'l Boo, Helvetica, Arial, sans-serif;
  padding : 0;
  -webkit-font-smoothing: antialiased;
}

h2, a {
  color: #000000;
  text-decoration: none;
}

h3 {
  font-size: 22px;
  margin-bottom: 7px;
}

@media screen and (max-width: 610px) {
  .container {
    width: 95%;
  }

  .top {
    width: 100% !important;
  }
}


@media screen and (max-width: 430px) {
  html {
    font-size: 95%;
  }
}

@media screen and (max-width: 370px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 330) {
  html {
    font-size: 85%;
  }
}

.top {
  width: 600px;
  display: flex;
  margin-bottom: -20px;
}

.header {
  padding-top: 1.5rem;
  flex: 1;
}

.navbar {
  padding-top: 1.5rem;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  cursor: pointer;
  margin-left: 13px;
}

.content {
  margin-top: 30px;
}

.left-content {
  flex: 1;
  padding: 1rem;
  width: 50%;
  overflow-y: scroll;
  border-top: 1px solid black;
  border-radius: 1px;
}

.right-content {
  flex: 1;
  padding: 1rem;
  width: 50%;
  overflow-y: scroll;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 1px;
}

.left-content div {
  padding: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}


.experience {
  border-radius: 3px;
  padding: 8px 0 8px 0;
}

.experience a {
  text-decoration: none;
}

.exp-row1, .exp-row2 {
  display: flex;
}

.exp-row1 a {
  text-decoration: none;
}

#position, #tools, i {
  color: #8b949d;
}

.profile-pic {
  width:700px;
  height: 500px;
}

#life {
  text-align: center;
}

.profile img {
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile-des {
  text-align: center;
  padding-bottom: 0.5rem;
}

.profile-des h2, .profile-des p {
  margin: 5px;
}

#place {
  font-weight: bold;
}

.exp-row2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
